.panel {
  .panel-heading {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: clamp(50px, 2vh, 60px);

    h1 {
      font-size: var(--spacing-medium);
      margin: 0;
    }
  }

  .panel-body {
    padding: 0 clamp(40px, 2vw, 100px);
  }

  .section__panel {
    padding: clamp(40px, 2em, 80px);
  }

  .panel__cards {
    display: grid;
    grid-gap: var(--spacing-medium);
    align-items: baseline;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-bottom: clamp(20px, 1vh, 40px);
    padding-bottom: 1em;
    width: 100%;
    z-index: 1;
  }

  .panel__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;

    label {
      font-weight: 700;
      width: 100%;
      margin-bottom: .2em;
      color: var(--gray);
    }

    div {
      width: 100%;
    }

    input {
      padding: 10px 0;
      width: 100%;
      height: 100%;
      border: none;
      border-bottom: 1px solid var(--gray);
      border-left: 1px solid var(--gray);
      padding-left: 10px;
      color: var(--gray-dark);
      font-weight: 700;
      font-size: clamp(1em, 1rem, 2rem);
    }
  }

  .panel__input {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    input {
      width: calc(70% - 2px);
    }

    button {
      height: 100%;
      width: 30%;
      font-weight: 700;
      background-color: transparent;
      padding: 5px;
      font-size: 700;
      text-transform: uppercase;
      border-bottom: 1px solid var(--gray);
      &:hover {
        box-shadow: 1px 1px var(--gray);
        border: 1px solid var(--gray);
      }
      &:hover:active {
        transform: translate3d(1px,1px,0);
        box-shadow: -1px -1px var(--gray);
      }
    }
  }
}
