

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg>
              <h1>User</h1>
          </div>
          <section class="section section--light">
            <h2 class="section__title hidden"><span>Account Information</span></h2>
            <div class="section__panel">
                <form class="form-horizontal" #userForm="ngForm">
                    <!-- hutchId -->
                    <div class="panel__cards">
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="hutchId">Hutch Id</label>
                          <div class="col-sm-8">
                              <input class="form-control" id="hutchId" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.hutchId" name="hutchId">
                          </div>
                      </div>
                      <!-- appId -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="appId">App Id</label>
                          <div class="col-sm-8">
                              <input class="form-control" id="appId" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.appId" name="appId">
                          </div>
                      </div>
                      <!-- social name -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="socialName">Social Display Name</label>
                          <div class="col-sm-8">
                              <input class="form-control" id="socialName" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.socialName" name="socialName">
                          </div>
                      </div>
                    </div>
                    <!-- <div class="panel__cards"> -->
                      <!-- cheater -->
                      <!-- <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="isCheater">Cheater</label>
                          <div class="col-sm-8">
                          </div>
                      </div> -->
                      <!-- banned -->
                      <!-- <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="accountStatus">Account Status</label>
                          <div class="col-sm-8">
                          </div>
                      </div> -->
                      <!-- VIP tier 0 -->
                      <!-- <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="spender">Spender</label>
                          <div class="col-sm-8">
                          </div>
                      </div> -->
                      <!-- VIP tier 1 -->
                      <!-- <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="vip1">VIP Tier 1 Member</label>
                          <div class="col-sm-8">
                          </div>
                      </div> -->
                      <!-- VIP tier 2 -->
                      <!-- <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="vip2">VIP Tier 2 Member</label>
                          <div class="col-sm-8">
                          </div>
                      </div> -->
                      <!-- VIP tier 3 -->
                      <!-- <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="vip3">VIP Tier 3 Member</label>
                          <div class="col-sm-8">
                          </div>
                      </div> -->
                      <!-- VIP tier 4 -->
                      <!-- <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="vip4">VIP Tier 4 Member</label>
                          <div class="col-sm-8">
                          </div>
                      </div> -->
                    <!-- </div> -->
                    <div class="panel__cards">
                      <!-- Limited Data Use flag -->
                      <!-- <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="ldu">Limited Data Use</label>
                          <div class="col-sm-8">
                          </div>
                      </div> -->
                      <!-- deviceId -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="deviceId">Device Id</label>
                          <div class="col-sm-8">
                              <input class="form-control" id="deviceId" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.deviceId" name="deviceId">
                          </div>
                      </div>
                      <!-- region -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="region">Region</label>
                          <div class="col-sm-8">
                              <input class="form-control" id="region" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.region" name="region">
                          </div>
                      </div>
                      <!-- registration date -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="registrationDate">Registration Date</label>
                          <div class="col-sm-8">
                              <input class="form-control" id="registrationDate" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.registrationDate" name="registrationDate">
                          </div>
                      </div>
                          <!-- last login date -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="lastLoginDate">Last Login Date</label>
                          <div class="col-sm-8">
                              <input class="form-control" id="lastLoginDate" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.lastLoginDate" name="lastLoginDate">
                          </div>
                      </div>
                    </div>
                    <div class="panel__cards">
                      <!-- hardCurrency1 -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="hardCurrency1">Gold</label>
                          <div class="panel__input">
                              <input class="form-control" min="0" id="hardCurrency1" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.hardCurrency1" name="hardCurrency1">
                              <button id="hardCurrency1Button" class="btn btn-success">Submit</button>
                          </div>
                      </div>
                      <!-- hardCurrency2 -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="hardCurrency2">Cash</label>
                          <div class="panel__input">
                              <input class="form-control" min="0" id="hardCurrency2" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.hardCurrency2" name="hardCurrency2">
                              <button id="hardCurrency2Button" class="btn btn-success">Submit</button>
                          </div>
                      </div>
                      <!-- softCurrency1 -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="softCurrency1">Fusion Points</label>
                          <div class="panel__input">
                              <input class="form-control" min="0" id="softCurrency1" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.softCurrency1" name="softCurrency1">
                              <button id="softCurrency1Button" class="btn btn-success">Submit</button>
                          </div>
                      </div>
                    </div>
                    <div class="panel__cards">
                      <!-- bronzeKeys -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="bronzeKeys">Bronze Keys</label>
                          <div class="panel__input">
                              <input class="form-control" min="0" id="bronzeKeys" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.bronzeKeys" name="bronzeKeys">
                              <button id="bronzeKeysButton" class="btn btn-success">Submit</button>
                          </div>
                      </div>
                      <!-- silverKeys -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="silverKeys">Silver Keys</label>
                          <div class="panel__input">
                              <input class="form-control" min="0" id="silverKeys" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.silverKeys" name="silverKeys">
                              <button id="silverKeysButton" class="btn btn-success">Submit</button>
                          </div>
                      </div>
                      <!-- goldKeys -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="goldKeys">Gold Keys</label>
                          <div class="panel__input">
                              <input class="form-control" min="0" id="goldKeys" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.goldKeys" name="goldKeys">
                              <button id="goldKeysButton" class="btn btn-success">Submit</button>
                          </div>
                      </div>
                      <!-- xp -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="xp">XP</label>
                          <div class="panel__input">
                              <input class="form-control" min="0" id="xp" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.xp" name="xp">
                              <button id="xpButton" class="btn btn-success">Submit</button>
                          </div>
                      </div>
                      <!-- level -->
                      <div class="form-group panel__card">
                          <label class="col-sm-4 control-label" for="level">Level</label>
                          <div class="panel__input">
                              <input class="form-control" min="0" id="level" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.level" name="level">
                              <button id="levelButton" class="btn btn-success">Submit</button>
                          </div>
                      </div>
                      <!-- level -->
                      <div class="form-group panel__card">
                      <label class="col-sm-4 control-label" for="trophies">Trophies</label>
                        <div class="panel__input">
                          <input class="form-control" min="0" id="trophies" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.trophies" name="trophies">
                          <button id="trophiesButton" class="btn btn-success">Submit</button>
                      </div>
                      </div>
                    </div>
                </form>
              </div>
            </section>
            <!-- <h2>Player Error Logs</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Verbosity</th>
                        <th>Timestamp</th>
                        <th>Scope</th>
                        <th>RequestId</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of portalSync.logEntries" [ngClass]="{ danger: log.verbosity === 'ERROR', warning: log.verbosity === 'WARN' }">
                        <td>{{log.verbosity}}</td>
                        <td>{{log.timestamp}}</td>
                        <td>{{log.scope}}</td>
                        <td>
                            <a routerLink="/logs/requestId/{{region}}/{{log.requestId}}" target="_blank">{{log.requestId}}</a>
                        </td>
                    </tr>
                </tbody>
            </table> -->
            <!-- <h2>IAP Receipts</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ReceiptId</th>
                        <th>Receipt Provider</th>
                        <th>ProductId</th>
                        <th>Date of Purchase</th>
                        <th>Approximate Dollar Value</th>
                        <th>Refunded</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let receipt of portalSync.userIAPReceipts" [ngClass]="{ warning: receipt.refunded }">
                        <td>{{receipt.orderId ? receipt.orderId : receipt.receiptId}}</td>
                        <td>{{receipt.provider}}</td>
                        <td>{{receipt.productId}}</td>
                        <td>{{receipt.dateOfPurchase}}</td>
                        <td>{{receipt.approximateDollarValue}}</td>
                        <td>{{receipt.refunded}}</td>
                    </tr>
                </tbody>
            </table> -->
            <!-- <h2>Offer Receipts</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>OfferId</th>
                        <th>Times Claimed</th>
                        <th>Last Triggered</th>
                        <th>Last Claimed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let receipt of portalSync.userOfferReceipts">
                        <td>
                            <a routerLink="/offer/{{receipt.offerId}}" target="_blank">{{receipt.offerId}}</a>
                        </td>
                        <td>{{receipt.numTimesClaimed}}</td>
                        <td>{{receipt.triggerDates.length > 0 ? receipt.triggerDates[receipt.triggerDates.length - 1] : 'Not triggered'}}</td>
                        <td>{{receipt.awardDates.length > 0 ? receipt.awardDates[receipt.awardDates.length - 1] : 'Not Claimed'}}</td>
                    </tr>
                </tbody>
            </table> -->
            <!-- <h2>Social Details</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Social Type</th>
                        <th>Social Id</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Locale</th>
                        <th>Region</th>
                        <th>Is Dissociated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let details of portalSync.socialAccounts">
                        <td>{{details.socialType}}</td>
                        <td>{{details.socialId}}</td>
                        <td>{{details.socialDetails.name}}</td>
                        <td>{{details.socialDetails.email}}</td>
                        <td>{{details.socialDetails.locale}}</td>
                        <td>{{details.region}}</td>
                        <td>{{details.isDissociated}}</td>
                    </tr>
                </tbody>
            </table> -->
            <section class="section">
              <h2 class="section__title"><span>Cars</span></h2>
              <form class="form-horizontal" #carsForm="ngForm">
                <div class="cards">
                  <div *ngFor="let car of portalSync.userCars | paginate: { itemsPerPage: 9, currentPage: 1 }" class="card">
                    <header class="card__header">
                      <img class="card__image" src="https://rrimages.azureedge.net/16/cars/{{carsMap.get(car.carId).imageName}}_Thumb.png">
                      <h4 class="card__title">{{carsMap.get(car.carId).modelName.replaceAll('_', ' ')}}</h4>
                      <h4 class="card__rating">{{carsMap.get(car.carId).stars}}</h4>
                    </header>
                    <footer class="card__footer">
                      <button id="selectCar" class="btn btn-success card__button" (click)="onSelectCar(car)"><span class="fa fa-info-circle"></span>Details</button>
                      <button id="removeCar" class="btn btn-danger card__button--red" (click)="onRemoveCar(car)"><span class="fa fa-exclamation-circle"></span>X</button>
                    </footer>
                  </div>
                </div>
                <div class="cards__pagination form-group">
                    <div class="has-text-centered">
                        <pagination-controls></pagination-controls>
                    </div>
                </div>
              </form>
            </section>
        </div>
    </div>
</div>
